
body{
    background-image: url('./image/fond\ bleach.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.left-section {
  float: left; 
  width: 50%;   
  padding: 20px; 
  box-sizing: border-box; 
}

.right-section {
  float: right; 
  width: 50%;   
  padding: 20px; 
  box-sizing: border-box; 
}
#selectionpersonnage{
  display: flex;
}
.combat-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.character-section {
  flex: 1;
  padding: 60px;
  border: 1px solid #ccc;
  margin: 50px;
}

.character-text {
  color: blue; 
}

.health-text-green {
  color: green; 
}

.opponent-text-color {
  color: green;
}

.opponent-health-text-red {
  color: red;
}
#perso{
  position: absolute;
  margin-left: -100px;
}
